{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/body.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'main/css/info.css' %}">
</head>
<body>
    {% include 'main/menu.html' %}

    <h2>List of accounts</h2>
    <p><b>Phone</b> - номер тлф для входа в учетную запись в Tg. Пример: +88888888888</p>
    <p><b>Password</b> - пароль от учетной записи. Пример: eUBRegbye834t</p>
    <p><b>Status</b> - имеет 2 состояния:
        - кнопка start имеет 2 условия для использования: необходимо указать имя сервера и текст для спама
        - Дата начала парсинга группы</p>
    <p><b>Server</b> - отображает название группы</p>
    <p><b>Switch server</b> - по нажатию кнопки всплывает модальное окно для ввода названия сервера</p>
    <p><b>Switch text</b> - по нажатию кнопки всплывает модальное окно для ввода текста для спама</p>
    <p><b>Download</b> - скачивает файл с пользователями. Не скачивает в случае, если пользователей нет</p>
    <p><b>Delete bot</b> - удаляет аккаунт</p>
    <p><b>User take spamm</b> - количество пользователей, которые получили спам-рассылку</p>
    
    <h2>List of Require Accounts</h2>
    <p><b>Name</b> - имя пользователя, который обязательно получит спам-рассылку. Пример: @a_ha_ha_ha_ha</p>
    <p><b>Delete</b> - кнопка, которая убирает пользователя из обязательной рассылки</p>
    <b>Delete</b>

</body>
</html>
