{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Instructions</title>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/body.css' %}">
</head>
<body>
    {% include 'main/menu.html' %}

    <h1>List of accounts</h1>
    <p>Phone - номер тлф для входа в учетную запись в Tg. Пример: +88888888888</p>
    <p>Password - пароль от учетной записи. Пример: eUBRegbye834t</p>
    <p>Status - имеет 2 состояния:
        - кнопка start имеет 2 условия для использования: необходимо указать имя сервера и текст для спама
        - Дата начала парсинга группы</p>
    <p>Server - отображает название группы</p>
    <p>Switch server - по нажатию кнопки всплывает модальное окно для ввода названия сервера</p>
    <p>Switch text - по нажатию кнопки всплывает модальное окно для ввода текста для спама</p>
    <p>Download - скачивает файл с пользователями. Не скачивает в случае, если пользователей нет</p>
    <p>Delete bot - удаляет аккаунт</p>
    <p>User take spamm - количество пользователей, которые получили спам-рассылку</p>
    
    <h1>List of Require Accounts</h1>
    <p>Name - имя пользователя, который обязательно получит спам-рассылку. Пример: @a_ha_ha_ha_ha</p>
    <p>Delete - кнопка, которая убирает пользователя из обязательной рассылки</p>
    

</body>
</html>
